# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/project settings
.vscode/
.idea/

# Ignore CSVs or datasets in processed_data
processed_data/*

# Allow the main dataset
!credit_risk_dataset.csv

# Ignore model files if not needed in repo
*.pkl

# Ignore PowerPoint or presentation files
*.pptx

# Ignore executables
*.exe

# Ignore any logs
*.log
